<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.legendary.com/wp-content/uploads/2021/12/LEG-FILM-CATALOG-1-1046x700.jpg);">
  <div class="container">
    <h1>Your fav movies in one place</strong>!</h1>
  </div>
</div>

<br>
<div class="container">
  <h1>My Lists</h1>
  <div class="cards w-100">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(list.photo.key) if list.photo.present? %>)">
          <%= link_to list.name, list_path(list) %>
        </div>
      <% end %>
  </div>
</div>
<br>
